.race
  - if current_user
    = form_tag complete_task_path(task), method: :put, class: task_class(task, current_user) do
      = link_to show_date(task.date), edit_task_path(task)

      Ep #{task.episode}

      = complete_button_tag(task)
      = title_format(task)

  - else
    #{show_date(task.date)} : Ep #{task.episode}

