.race
  = form_tag complete_task_path(task), method: :put do
    - if current_user
      = link_to show_date(task.date), edit_task_path(task)
    - else
      #{show_date(task.date)} :

    Ep #{task.episode}

    - if current_user
      = complete_button_tag(task)
      = title_format(task)


